* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body {
    font-family: "Open Sans", sans-serif;
    overflow-x: hidden;
    position: relative;
}

/* Utilities */
.get-started {
    margin-top: 2em;
    padding: 1rem 4rem;
    border: none;
    background: hsl(163, 95%, 43%);
    color: #f7f9fd;
    border-radius: 2px;
    box-shadow: 0 1px 10px 0.5px hsl(0, 0%, 50%);
    cursor: pointer;
}

.get-started:hover {
    box-shadow: 0 1px 10px 0.5px hsl(0, 0%, 17%);
}

h1 {
    font-size: 35px;
    color: hsl(243, 87%, 12%);
    margin-bottom: 2rem;
}

h2 {
    font-size: 25px;
    color: hsl(243, 87%, 12%);
}

h3 {
    font-size: 20px;
    color: hsl(243, 87%, 12%);
    text-align: center;
    width: 100%;
}

h4 {
    font-size: 20px;
    color: hsl(243, 87%, 12%);
}

p {
    font-size: 18px;
    color: hsl(243, 87%, 12%);
}


/* Header Navigation Bar */
header {
    display: flex;
    justify-content: space-between;
}

.header-logo {
    flex: 0 0 14%;
}

.header-logo img {
    width: 100%;
}

.banner {
    padding: 1vw;
    position: relative;
    padding-bottom: 8vw;
    background-image: url(./images/bg-intro-desktop.svg);
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: right;
    background-size: contain;
}

.banner-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-desc {
    flex: 0 0 40%;
    padding-right: 10%;
}

.banner-desc .heading {
    margin-top: 20%;
}

.banner-desc p {
    margin: 7% 0%;
}

.banner-img {
    flex: 0 0 40%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-left: 10%;
}

.banner-img img {
    width: 90%;
}


.btn-link{
    color: white;
text-decoration: none;
}




.background-design2 {
    position: absolute;
     /* right:0; */
    /* bottom: 15vw; */
    background-color: hsl(106, 0%, 98%);
    /* background-color: black; */
    z-index: -1;
    width: 100vw;
    height: 70vw;
    border-radius: 35px;
    -ms-transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
    transform: skewY(20deg);
}


.content2 {
    width: 65%;
    margin: auto;
}

.content2 .section-content {
    text-align: center;
}

.content2 .section-content h2,
.content2 .section-content p {
    margin-top: 10rem;
}

.content2 .section-content p {
    width: 70%;
    margin: 2rem auto;
    /* line-height: 2rem; */
}

.image-section {
    display: flex;
    justify-content: space-around;
    padding-top: 5%;
    background: #fafafa;
    width: 100%;
}

.topic {
    flex: 0 0 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 0% 5%; */
}

.icon {
    width: 8vw;
    height: 8vw;
    margin-bottom: 2vw;
    object-fit: contain;
}

.content2 .image-section .topic h3 {
    text-align: center;
    width: 70%;
}


.content3 {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15rem auto;
}

.content3 .section-content-one {
    width: 40%;
}

.content3 .section-content-one h2,
.content3 .section-content-one p {
    margin-top: 2rem;
}


.section-content-two {
    flex: 0 0 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.box {
    flex: 0 0 calc(33.33% - 1vw);
    width: calc(33.33% - 1vw);
    box-shadow: 0px 0px 10px #dbdbdb;
    margin: .5vw;
    border-radius: 0.2vw;
}

.box-head {
    border-bottom: 2px solid #dbdbdb85;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vw;
}

.box-head img {
    width: 60%;
    height: 70%;
    object-fit: contain;
}

.box-body {
    color: hsl(243, 87%, 12%);
}

.box-desc {
    padding: 7% 10%;
    text-align: center;
}

.box-title {
    font-weight: 700;
    margin-bottom: 1vw;
}

.box:nth-of-type(2),
.box:nth-of-type(5) {
    transform: translateY(-4.5vw);
}

.content4 {
    width: 90%;
    margin: auto;
    margin-bottom: 7rem;
}

.content4 .section-content-three {
    text-align: center;
}

.content4 .section-content-three h2,
.content4 .section-content-three p {
    margin-top: 2rem;
}

.content4 .section-content-three p {
    width: 70%;
    margin: 2rem auto;
    /* line-height: 2rem; */
}

footer {
    display: flex;
    flex-direction: column;
    font-size: 95%;
    color: #fff;
    background-color: #05033c;
    background-image: linear-gradient(to right bottom, #120e6f, #332b86, #4e479e, #6963b5, #8481cc);

}

.footer-container {
    display: flex;
    padding: 7% 10%;
    justify-content: space-between;
    align-items: center;
}

.footer-desc,
.footer-links {
    flex: 0 0 45%;
}

.footer-links {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
}

ul.footer-link-item {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

ul.footer-link-item li {
    margin-bottom: .8vw;
}

ul.footer-link-item li.title {
    margin-bottom: 1.5vw;
    font-weight: bold;
}

.footer-desc {
    display: flex;
    flex-direction: column;
}

.footer-logo {
    width: 12vw;
    margin-bottom: 2vw;
}

.footer-logo img {
    width: 100%;
}

.footer-desc>p {
    margin-bottom: 1.5vw;
}

.footer-form {
    display: flex;
    margin-bottom: 2vw;
}

.footer-form .input-group {
    display: flex;
    width: 100%;
}

.footer-form .input-group .form-input {
    flex: 1;
    margin-right: 1vw;
}

.footer-contact div {
    margin-bottom: 1.5vw;
    display: flex;
    align-items: center;
}

.footer-contact div:last-of-type {
    margin-bottom: 0vw;
}

.footer-icon {
    width: 1.5vw;
    height: 1.5vw;
    margin-right: 1.5vw;
}

.footer-contact a {
    color: #fff;
    text-decoration: none;
}

.form-input {
    background-color: white;
    color: white;
    border: none;
    border-radius: .3vw;
    padding: .7vw 1.8vw;
    font-size: 90%;
    box-shadow: 0px 0px 7px #bcbcbc;
    font-family: 'Open Sans', sans-serif;
}

.form-input-lg {
    padding: 1vw 2.5vw;
}

.btn {
    padding: 1rem 4rem;
    border: none;
    background: hsl(163, 95%, 43%);
    color: #f7f9fd;
    border-radius: 2px;
    font-size: 18px;
    cursor: pointer;
}

.btn:hover {
    box-shadow: 0px 0px 7px #bcbcbc;
}

.paragraph {
    font-size: 18px;
    color: #f7f9fd;
    margin-bottom: 2rem;
}



/* MEDIA-QUERIES */

@media (max-width:1124px){
    .banner {
        background-image: none;
        position: relative;
    }

    .banner:before {
        padding: 5vw;
        position: relative;
        padding-bottom: 5vw;
        background-image: url(./images/bg-intro-mobile.svg);
        background-repeat: no-repeat;
        background-position-y: top;
        background-position-x: right;
        background-size: contain;
        content: " ";
        position: absolute;
        right: 0;
        top: 0;
        /* left: 50%; */
        width: 42%;
        z-index: -1;
        height: 42%;
    }

    .banner-content {
        flex-direction: column-reverse;
    }

    .banner-desc {
        text-align: center;
        padding: 0% 10%;
    }

    .banner-img {
        justify-content: center;
        padding-left: 0;
        padding: 0% 20%;
        padding-top: 10%;
    }

    .banner-desc .heading {
        margin-top: 10%;
    }

 
}

@media (max-width:900px) {
    /* .background-design .intro {
        display: none;
    } */

    .header-logo {
        flex: 0 0 25%;
    }

    .footer-logo {
        width: 23vw;
    }

    .banner {
        background-image: none;
        position: relative;
    }

    .banner:before {
        padding: 5vw;
        position: relative;
        padding-bottom: 5vw;
        background-image: url(./images/bg-intro-mobile.svg);
        background-repeat: no-repeat;
        background-position-y: top;
        background-position-x: right;
        background-size: contain;
        content: " ";
        position: absolute;
        right: 0;
        top: 0;
        /* left: 50%; */
        width: 42%;
        z-index: -1;
        height: 42%;
    }

    .banner-content {
        flex-direction: column-reverse;
    }

    .banner-desc {
        text-align: center;
        padding: 0% 10%;
    }

    .banner-img {
        justify-content: center;
        padding-left: 0;
        padding: 0% 20%;
        padding-top: 10%;
    }

    .banner-desc .heading {
        margin-top: 10%;
    }




    .get-started {
        padding: 1rem 7rem;
        font-size: 18px;
    }

    .content2 {
        width: 79%;
    }

    .content2 .section-content p {
        width: 70%;
    }

    .content2:before,
    .content2:after {
        border-radius: 6vw 0vw;
        transform: rotate(11.31deg) skewX(-40deg);
    }

    .image-section {
        flex-direction: column;
    }

    .topic {
        margin-bottom: 10vw;
    }

    .icon {
        width: 25vw;
        height: 25vw;
        margin-bottom: 4vw;
    }

    .padding-side,
    .section-content-one .body-text {
        padding: 0% 20%;
    }

    .content3 {
        flex-direction: column;
        width: 79%;
        margin: 3rem auto;
    }


    .content3 .section-content-one {
        width: 70%;
    }


    .section-content-one {
        text-align: center;
        flex: 1;
        padding: 0vw;
    }

    .section-content-two {
        flex-direction: column;
        padding: 10%;
    }

    .box:nth-of-type(2),
    .box:nth-of-type(5) {
        transform: none;
    }

    .box {
        width: calc(80% - 0vw);
        box-shadow: 0px 0px 10px #dbdbdb;
        margin: 3vw 0vw;
        border-radius: 0.4vw;
    }

    .box-head {
        height: 20vw;
    }

    .box-head img {
        width: 45%;
    }

    .box-desc {
        padding-bottom: 12%;
    }


    .content4 .section-content-three p {
        width: 80%
    }

    /* FOOTER */
    .footer-logo {
        width: 15vw;
    }

    .footer-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-links {
        flex-direction: column;
    }

    ul.footer-link-item {
        margin: 2.5vw 0vw;
    }

    ul.footer-link-item:first-of-type {
        margin-top: 5vw;
    }

    .footer-icon {
        width: 3vw;
        height: 3vw;
        margin-right: 3.5vw;
    }

    .footer-form .input-group {
        flex-direction: column;
    }

    .footer-form .input-group .form-input {
        margin-right: 0vw;
    }

    .footer-form .input-group .btn {
        margin-top: 3vw;
        align-self: flex-end;
    }

    .form-input {
        padding: 1.7vw 2.8vw;
    }

    .btn {
        padding: 1.7vw 8.8vw;
    }
}

@media(max-width:650px) {
.background-design2{
    display: none;
}
}

@media(max-width:600px) {

   
    .get-started {
        padding: 1rem 7rem;
        font-size: 18px;
    }

}


@media (max-width: 450px) {
    body {
        font-size: 3.4vw;
    }

    .header-logo {
        flex: 0 0 30%;
    }

    .footer-logo {
        width: 27vw;
    }

    .banner-desc {
        padding: 0%;
    }

    .padding-side,
    .connect-desc .body-text {
        padding: 0% 10%;
    }

    footer {
        font-size: 100%;
    }
}